.graph {
    -fx-background-color: #FAFAFA;
    -fx-padding: 5px;
}

.vertex {
    -fx-cursor: HAND;
    -fx-stroke-width: 3;
    -fx-stroke: #61B5F1;
    -fx-stroke-type: inside;
    -fx-fill: #638691;
}

.vertex:hover {
    -fx-stroke-width: 8;
}

.vertex-label {
    -fx-font: bold 12px "Century Gothic";
    -fx-padding: 6px 10px;
    -fx-fill: #FAFAFA;
    -fx-background-color: #19173C;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-start-margin: 10px;
    -fx-end-margin: 10px;
}

.edge {
    -fx-stroke-width: 3;
    -fx-stroke: #1B4B6B;
    -fx-stroke-line-cap: round;
}

.bus{
    -fx-fill: #6F00FF;
    -fx-stroke: #3B0270;
}

.taxi{
    -fx-fill: #3E7B27;
    -fx-stroke: #004030;
}

.tren{
    -fx-fill: #3B9797;
    -fx-stroke: #132440;
}

.arrow {
    -fx-stroke-dash-array: none;
}

.seleccionado{
    -fx-stroke: #DD0303;
    -fx-fill:#BF092F;
}

.camino{
    -fx-stroke: #f2123b;
    -fx-stroke-width: 5;
}